@media (viewport <= 1000px) {
  .imageContainer{
    width: 60vw;
    height; 40vw;
  }
}
.cards{
  color: #6AFFED;
}
#Links{
  color: #6AFFED;
  text-decoration:
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  text-decoration: none;
  margin: 0.37em;
  color: #03161A;
}
.Header{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 800;
  font-size: 1.4em;
  margin: 0.3em;
  text-align: center;
  color:  #03161A ;
}
a:focus,
a:hover {
  color: #03161A;
}
a{
  color: none;
}
p{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  margin: 0.34em;
  padding-left: 0.4em;
  color: #03161A;
}
img{
  margin-left: 10%;
  border-style: solid;
  border-color: #6AFFED;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #111;
}
.PlaceHolder{
  margin: auto;
  width: 50vw;
  height: 30vw;
}
.imageContainer {
  max-width: 50vw;
  margin: auto;
  position: fixed; left: 25vw; top: 2vw;
  visibility: visible;
}
.deer{
  Width: 50%;
  transform: translateX(73%)
             translateY(-23%);
}
.fish{
  Width: 50%;
  object-position: 40%;
}
.tableGame{
  max-width: 50vw;
  margin: auto;
  position: fixed; right: 37.4vw; top: 5vw;
  visibility: visible;
}
td{
	padding:2px;
	text-align: center;
	width: 7vw;
	height: 7vw;
	font-size: 30px;
	transition: 0.2s ease;
	outline: none;
	border-radius: 10px;
	box-shadow: 0 0 5px #03161A;
}
main, body{
  background-color: #03161A;
  border-style: solid;
  border-color: #03161A;
  border-radius: 6px;
}
.grid-container {
  display: grid;
  grid-template-columns: 13.1111vw 16.66667vw 2vw 16.66667vw 2vw 16.66667vw 2vw 16.66667vw 13.1111vw;
  background-color: #03161A;
}
.grid-item {
  font-size: 1.3em;
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-color: #6AFFED;
  border-radius: 1em;
  background-color: #6AFFED;
  text-align: left;
}
#leer{
  background-color: #03161A;
  border-style: none;
}
#gefüllt{
  box-shadow: 0px 1px 0px #03161A;
}
.searchbar{
  position: sticky; left: 25vw;
  position: sticky; left: 20vw;

}
input {
  width: 50vw;
  width: 45em;
  height: 2vw;
  background-color: #03161A;
  border-radius: 4em;
  color: #6AFFED;
  text-align: left;
  border-style: double;
  border-color: #07333C;
  border-width: 1em;
  font-size: 0.68em;
  margin-bottom: 2vw;
  padding-left: 0.6em;
}
#searchbar{
    margin-bottom: 3vw;
    margin-top: 3vw;
}
